
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;0,800;1,800&family=Montserrat:wght@400;600;800&display=swap');

.caja{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Merriweather Sans', sans-serif;
}
.figure{
  width: 320px;
  cursor:pointer;
  padding:.5rem;
}

.figure:hover {
  transform: scale(1.1);
}

.acheDos{
  display:flex;
  justify-content: center;
  padding: 2rem 0 ;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:800
}

.name{
text-align: center;
font-size: 1.1rem;
font-weight: bold;
color:rgba(0, 0, 0, 0.724);
padding:1rem;
}