<header>
  <app-cabecera></app-cabecera>
</header>

  <main class="container">
    <router-outlet></router-outlet>
  </main>





<!---------
  PARTE PUBLICA

  Cabecera
  Listado público de categorias
  Listado de productos por categoria
  Filtro por precio
  Ficha de cada producto
  Login Page
  -----
  Interface productos
    - interface categorias
    - interface productos

  Servicio productos


  PARTE PRIVADA





  RUTAS



  /home
  /productos/categoria/1
  /productos/categoria/2
  /productos/categoria/3
  /productos/categoria/4
  etcc 
-->